<form class="flex flex-col gap-8" (submit)="submit.emit(true)">
  <div class="flex flex-col">
    <mat-form-field>
      <input
        [type]="showPassword() ? 'text' : 'password'"
        name="login"
        placeholder="Nova senha"
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
      />
      <span
        matSuffix
        (click)="
          showPassword.set(!showPassword()); $event.stopPropagation(); $event.preventDefault()
        "
        ><mat-icon class="!text-[#1b7899]" color="primary">{{
          showPassword() ? 'visibility_off' : 'visibility'
        }}</mat-icon></span
      >
      @if (passwordFormControl.hasError('login') && !passwordFormControl.hasError('required')) {
      <mat-error>Insira uma senha válida</mat-error>
      } @if (passwordFormControl.hasError('required')) {
      <mat-error>Nova senha é <strong>obrigatória</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input
        [type]="showPassword() ? 'text' : 'password'"
        name="password"
        placeholder="Confirmação de senha"
        matInput
        [formControl]="passwordConfirmationFormControl"
        [errorStateMatcher]="matcher"
      />
      <span
        matSuffix
        (click)="
          showPassword.set(!showPassword()); $event.stopPropagation(); $event.preventDefault()
        "
        ><mat-icon class="!text-[#1b7899]" color="primary">{{
          showPassword() ? 'visibility_off' : 'visibility'
        }}</mat-icon></span
      >
      @if (passwordConfirmationFormControl.hasError('email') &&
      !passwordConfirmationFormControl.hasError('required')) {
      <mat-error>A confirmação de senha deve ser igual a senha</mat-error>
      } @if (passwordConfirmationFormControl.hasError('required')) {
      <mat-error>Confirmação de senha é <strong>obrigatória</strong></mat-error>
      }
    </mat-form-field>
  </div>

  <div class="border rounded-xl p-4 flex flex-col gap-4">
    <p>Nível de segurança: {{ secretLevelLabel[secretLevel()] }}</p>

    <div>
      <mat-progress-bar
        class="mat-progress-bar-md"
        [class]="{
          'mat-progress-bar-red': secretLevel() === SECRET_LEVEL.LOW,
          'mat-progress-bar-orange': secretLevel() === SECRET_LEVEL.MEDIUM,
          'mat-progress-bar-green': secretLevel() === SECRET_LEVEL.HIGH
        }"
        mode="determinate"
        [value]="
          secretLevel() === SECRET_LEVEL.LOW ? 0 : secretLevel() === SECRET_LEVEL.MEDIUM ? 50 : 100
        "
      ></mat-progress-bar>
    </div>

    <p>Sugestões</p>

    <ul class="pl-6 list-disc">
      <li>Incluir letras minúsculas e maiúsculas</li>
      <li>Incluir números</li>
      <li>Incluir um caractere especial</li>
      <li>Tamanho mínimo 6 caracteres</li>
    </ul>
  </div>

  <div class="flex justify-center">
    <button class="w-60" type="submit">Salvar</button>
  </div>
</form>
